@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=PT+Serif:ital@1&family=Playfair+Display&family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    color: black;
     user-select: none;   /* stops text highlighting */
    cursor: default; 
}

body {
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
}

.container {
    width: 100vw;
    height: 100%;
    position: absolute;
    background: url("../img/background1.jpg");
    color: white;
    background-size:cover ;
    background-repeat: no-repeat;
}

h1 {
    /* height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center; */
}

.main {

    width: 100%;
    height: 94vh;
    /* border: 2px solid blue; */
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}

.obj {
    transform: rotateY(180deg);
    position: absolute;
    /* background-color: red; */
    background-image: url("../img/bird.png");
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 3px solid black; */
    height: 25vh;
    width: 16vw;
    left: 0;
    bottom: 0px;
}


.dragon {
    transform: rotateY(180deg);
    position: absolute;
    background: url("../img/dragon.img.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 30vh;
    width: 15vw;
    right: 0;
    /* right: 0px; */
    bottom: -10px;
    /* border: 3px solid rgb(232, 0, 0); */

}

.gameOver {
    position: absolute;
    visibility: hidden;
    left: 26vw;
    top: 4vh;
    font-size: 35px;
}

.score {
    position: absolute;
    left: 83.6vw;
    top: -7vh;
    font-size: 39px;
    font-weight: bold;
}
.mx-score {
    position: relative;
    left: auto;
    top: -49px;
    font-size: 25px;
    font-weight: bold;
}
.header{
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}

.header .start-end {
    font-weight:300;       /* या numeric value जैसे 700 */
    font-size: xx-large;     /* बड़ा font */
    text-align: center;      /* text को center करना हो तो */
}

.dragonAnimate {
    animation: kuldeep 3s ease-in infinite;
}

@keyframes kuldeep {
    0% {
        right: 0;
    }
    100% {
        right: 100vw;
    }
}

.animate {
    animation: jumpUp 0.7s ease-in-out infinite;
}

@keyframes jumpUp {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 50vh;
    }

    100% {
        bottom: 0px;
    }
}

.score-btn {
  display: flex;              /* enable flexbox */
  justify-content: space-between; /* push items to opposite ends */
  align-items: center;        /* vertically align them */
  padding: 10px;              /* optional spacing */
  /* background-color: #f0f0f0;  optional background */
}

.score {
  font-weight: bold;
}

button {
    padding: 6px 12px;
    background-color: rgb(149, 66, 198);
    /* color: white; */
    border: 3px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: rgb(40, 225, 133);
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .obj, .dragon {
        height: 18vh;
        width: 25vw;
    }
     
    .container{
        display: flex;
        font-size: 1rem;
        justify-content: center;
        flex-direction: column;
        
    }
    .score, .mx-score {
        font-size: 1rem;
    }

   
}